<!DOCTYPE html>
<html lang="ua" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Доставка продуктів з супермаркетів</title>
  <link rel="stylesheet" href="css/main.css">

  <!-- <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script> -->

  <!-- <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-animate.min.js"></script>
  <meta name="keywords" content="Сервіс доставки, Доставка, Львів, Львівська область, Товар, продукти, опт, оптові ціни, заказ">
</head>

<body ng-app="Artmoney" ng-controller="Global">


  <header>
    <div class="logo">
    </div>
    <div class="mobile_logo">
    </div>
    <ul>
      <a href="#slide1">
        <li>Про компанію</li>
      </a>

      <a href="#slide2">
        <li>Як ми працюєм</li>
      </a>
      <a href="#slide3">
        <li>Доставка</li>
      </a>
      <a href="#slide4">
        <li>Контакти</li>
      </a>
    </ul>
    <div class="contacts">
      <!-- <div class="number">
        <a href="tel:0931502921">
          <div class="tel"></div>(093) 150-29-21
        </a>
      </div> -->
      <div class="number">
        <a href="tel:0977099411">
          <div class="tel"></div>Позвонити
        </a>
      </div>
      <!-- <div class="number">
         <a href="tel:0994020715">
          <div class="tel"></div>(099) 402-07-15
        </a>
      </div> -->
    </div>
  </header>
  <div class="main">

    <section id="slide1">
      <div class="col1">

        <h1>Сервіс доставки продуктів із гіпермаркетів</h1>
        <ul>
          <li><span class="sale"></span>Ціни оптові</li>
          <li><span class="clock"></span>Доставляємо протягом 1-2 днів</li>
          <li><span class="hand-shake"></span>Оплата після отримання товару</li>
        </ul>

      </div>
      <div class="col2">
        <h2>Доставляємо вам товар з:</h2>
        <div class="markets">
          <div class="auchan"></div>
          <div class="metro"></div>
        </div>
      </div>

    </section>
    <section id="slide2">
      <div class="time">
        ЗБЕРЕЖИ СВІЙ ЧАС ТА НЕРВИ
      </div>
      <h2>Як ми працюємо?</h2>

      <div class="work-blocks">
        <div class="work-block">
          <div class="image-1">

          </div>
          <div class="sort_number">01</div>
          <h3>Ви робите замовлення</h3>
          <p>Позвоніть, або виберіть на сайті необхідний товар і з вами зв'яжуться</p>
        </div>
        <div class="work-block">
          <div class="image-2">

          </div>
          <div class="sort_number">02</div>
          <h3>Збір товару</h3>
          <p>Ваш товар сортується по накладній</p>
        </div>
        <div class="work-block">
          <div class="image-3">

          </div>
          <div class="sort_number">03</div>
          <h3>Кур'єр доставляє замовлення</h3>
          <p>На наступний робочий день ви отримаєте достаку</p>
        </div>
      </div>




    </section>
    <section id="slide3">
      <h2>Доступні товари для доставки:</h2>
      <div class="table">
        <div class="th">
          <div class="col">Назва товару</div>
          <div class="col">Вага, Об‘єм</div>
          <div class="col">Ціна (грн)</div>
          <div class="col">Кількість</div>
        </div>
        <div class="tbody">
          <div class="row" ng-repeat='x in products'>
            <div class="col">{{x.name}}</div>
            <div class="col">{{x.mass}}</div>
            <div class="col">{{x.price}}</div>
            <div class="col">
              <input type="number" id="products{{$index}}" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength); " maxlength="2" max='100' min="0" ng-model="x.count" value="0" placeholder="0"
                class="slider" />
              <div class="add" ng-click="change(x.count,$index); x.count = ''"></div>
            </div>
          </div>
        </div>
      </div>
      <h2 ng-if="order.length != 0">Ваш заказ:</h2>
      <div ng-if="order.length != 0" class="table">
        <div class="th">
          <div class="col">Назва товару</div>
          <div class="col">Кількість</div>
          <div class="col">Ціна (грн)</div>
        </div>
        <div class="tbody">
          <div class="row" ng-repeat='i in order track by $index'>
            <div class="col">{{i.name}}</div>
            <div class="col">{{i.quantity}}</div>
            <div class="col">{{i.price}}</div>
            <div class="delete" ng-click="delete($index)"></div>
          </div>

        </div>

      </div>
      <div ng-if="order.length != 0" class="order_cost" ng-class="{red:getTotal()<399}">
        <div class="minimum" ng-if="getTotal()<399">Мінімальна сума 400 грн</div>
        Разом: <span class="money">{{ getTotal()?getTotal():0 }} Грн</span>
      </div>
      <h3>Добавте товари в корзину і введіть номер телефону і ім'я</h3>
      <form action="" name="myForm">
        <input type="number" name="mobile" required value="" ng-model="mobile" placeholder="Номер телефону" id="number">
        <input type="text" name="name" required value="" ng-model="name" placeholder="Ім'я" id="name">
        <button type="button" ng-click="save()" ng-disabled="!(getTotal() > 399 && myForm.mobile.$valid && myForm.name.$valid)" ng-class="{'disable': !(getTotal() > 399 && myForm.mobile.$valid && myForm.name.$valid)}" name="button">Заказати</button>
        <div class="message " ng-show="success">
          <div class="check ">
            ✔
          </div>
          <h2>
            Замовлення успішно
          </h2>
          <p>
            З вами звяжеться консультант найближчим часом. <br>Очікуйте звінка
          </p>
          <button type="button" id="ok" ng-click="success = false">
            OK
          </button>
        </div>
      </form>

    </section>
    <section id="slide4">
      <h2>Контакти</h2>
      <div class="row">
        <div class="col">
          <span class="contacts_head">ТЕЛЕФОНИ</span>
          <span class="time_from">з 9:00 до 22:00</span>
          <a href="tel:0977099411">(097) 709-94-11</a>
          <a href="tel:0931502921">(093) 150-29-21</a>
          <a href="tel:0994020715">(099) 402-07-15</a>
        </div>
        <div class="col">
          <span class="contacts_head">ПОШТА</span>
          <a href="mailto:dostavymo@gmail.com">dostavymo@gmail.com</a>
        </div>
        <div class="col">
          <span class="contacts_head">ДОСТАВКА</span>
          <ul>
            <li>м.Львів</li>
            <li>Пустомитівський район</li>
            <li>Кам'янка-Бузький район</li>
            <li>Городоцький район</li>
            <li>Перемишлянський район</li>

          </ul></a>
        </div>
      </div>
    </section>
    <footer>
      <div class="row">
        <div class="col">
          <ul>
            <li><a href="tel:0977099411">(097) 709-94-11</a></li>
            <li><a href="mailto:dostavymo@gmail.com">dostavymo@gmail.com</a></li>
            <li>Львівська обл.</li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <a href="#slide1">
              <li>Про компанію</li>
            </a>
            <a href="#slide2">
              <li>Як ми працюєм</li>
            </a>
            <a href="#slide3">
              <li>Доставка</li>
            </a>
            <a href="#slide4">
              <li>Контакти</li>
            </a>
          </ul>
        </div>
      </div>
      <div class="copuring"> © 2019–2020 «Dostavymo.in.ua» Всі права захищені</div>
    </footer>
  </div>
  <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
  <script type="text/javascript">
    (function(d, w, s) {
      var widgetHash = 'ej4o9grf1xnjnnl68e37',
        gcw = d.createElement(s);
      gcw.type = 'text/javascript';
      gcw.async = true;
      gcw.src = '//widgets.binotel.com/getcall/widgets/' + widgetHash + '.js';
      var sn = d.getElementsByTagName(s)[0];
      sn.parentNode.insertBefore(gcw, sn);
    })(document, window, 'script');
  </script>

  <script type="text/javascript" src="js/main.js"> </script>
</body>


</html>
